.header-bg {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    border-bottom: 1px solid #ccc;
}

.logo {
    color: #f7f7f7;
    display: flex;
    gap: 2px;
}

.logo img {
    width: 30px;
}

.logo h2 {
    font-weight: 600;
    font-size: 2rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.menu a {
    color: #f7f7f7;
    font-size: 1.05rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    padding: 0.5rem 0;
    transition: 0.3s;
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    width: 0;
    background: #ffffff;
    height: 2px;
    left: 0;
    bottom: 3px;
    border-radius: 3px;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

@media(max-width: 755px) {
    .logo h2 {
        font-size: 1.5rem;
    }

    .logo img {
        width: 25px;
    }

    .header-bg {
        gap: 1rem;
    }

    .menu {
        gap: 1rem;
    }

    .menu a {
        font-size: 0.8rem;
        padding: 0.6rem 0.8rem;
        background: #2e2e2e;
        border-radius: 4px;
    }

    .menu a:hover {
        background: #111111;
    }

    .menu a::after {
        display: none;
    }
}