.main {
    padding: 2rem 0;
}

.main-bg {
    max-width: 1220px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.foto {
    max-width: 390px;
    max-height: 390px;
}